.DS_Store
node_modules
/dist
dist_intermediate
devdocs
/_md_docs
/docs/niivue*.js
/demos/niivue*.js
/demos/dist
/tests/niivue*.js
niivue.es.js
niivue.umd.js
/downloads
__diff_output__

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/e2e/index.js
/tests/index.js