.DS_Store
node_modules
/dist
devdocs
/_md_docs
/docs/niivue*.js
/demos/niivue*.js
/tests/niivue*.js
niivue.es.js
niivue.umd.js
/downloads
__diff_output__

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

