.DS_Store
node_modules
packages/niivue/build
packages/niivue/dist
distForTests
tests-out
dist_intermediate
devdocs
packages/niivue/_md_docs
packages/niivue/docs/niivue*.js
packages/niivue/demos/niivue*.js
packages/niivue/demos/dist
packages/niivue/tests/niivue*.js
niivue.es.js
niivue.umd.js
packages/niivue/downloads
__diff_output__
packages/niivue/coverage
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
packages/niivue/test-results/
packages/niivue/playwright-report/
packages/niivue/blob-report/
packages/niivue/playwright/.cache/
packages/niivue/playwright/e2e/index.js
packages/niivue/tests/index.js