.gallery {
  padding: 2rem;
  max-width: none; /* or a larger value like 1600px */
  margin: 0 auto;
}


.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  max-width: none;
  width: 100%;
}

.fullWidth {
  max-width: 100%;
  width: 100%;
  padding: 1rem;
}

.card {
  position: relative;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgba(242, 242, 242, 0.8); /* fallback */
  overflow: hidden;
  min-height: 200px;
  z-index: 1; /* ensure content is above ::before */
}
.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.33;
  z-index: 0;
  background-image: var(--bg-image);
  pointer-events: none;
}

.cardContent {
  position: relative;
  z-index: 1;
}


.cardTitle {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: #00006F;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.6); /* light shadow for darkening text */

}

.cardTitle:hover {
  text-decoration: underline;
}

.cardDescription {
  font-size: 0.95rem;
  color: #444;
  margin: 0.5rem 0 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.2em;
  border-radius: 0.25em;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

.tag_atlas {
  background-color: #10bd97;
}

.tag_connectome {
  background-color: #ffc000;
  color: black;
}

.tag_mesh {
  background-color: #70ad47;
}

.tag_stat {
  background-color: #d00031;
}

.tag_tract {
  background-color: #ed7d31;
}

.tag_voxel {
  background-color: #0a9bd5;
}
