@tailwind base;
@tailwind components;
@tailwind utilities;

/* make body the same size as the screen */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/* make the root element the same size as the screen */
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}