/* hide all details elements of class "tsd-index-content" */
.tsd-index-content details {
  display: none;
}

/* hide all details elements that inlcude any class with tsd-page-navigation */
.tsd-page-navigation details {
  display: none;
}

/* hide all div elements with class tsd-type-declaration */
.tsd-type-declaration {
  display: none;
}